<!DOCTYPE html>
<html>
<head>
<!-- <style>

</style> -->
<link rel="stylesheet" href="../static/css/w3.css">
<link rel="stylesheet" href="../static/css/w3-theme-black.css">
<link rel="stylesheet" href="../static/css/page2.css">
</head>
<body>
<div class="page">
	<div class="target_pane">
		<!-- <div class="bg-contact3" style="background-image: url('../static/images/visual_bg.JPG');"></div> -->
		<div style="align-content: center;background-color: transparent;">
			<img style="width: 40%;height: 60%; "  alt="Visual Ref Logo" src="{{ url_for('static', filename='images/page2logo3.jpg') }}">
		</div>
		<!-- <img src="../static/images/visual_bg.JPG"> -->
		<div style="padding-bottom: 35px;">
			<div style="padding-bottom: 30px;" class="left_pane_theme">
				Diabetes
			</div>
			<div style="padding-bottom: 30px;">  <!-- This is one element/attr -->
				<div class="left_pane_attr" style="float:left; width: 50%;">
					Diabetes Attribute 1
				</div>
				<div style="float:right; width: 50%" class="w3-light-grey w3-round-xlarge w3-small">
					<div id="diab_attr_1" class="w3-container w3-center w3-round-xlarge"></div>
				</div>
			</div>

			<div style="padding-bottom: 30px;">  <!-- This is one element/attr -->
				<div class="left_pane_attr" style="float:left; width: 50%;">
					Diabetes Attribute 2
				</div>
				<div style="float:right; width: 50%" class="w3-light-grey w3-round-xlarge w3-small">
					<div id="diab_attr_2" class="w3-container w3-center w3-round-xlarge"></div>
				</div>
			</div>

			<div style="padding-bottom: 30px;">  <!-- This is one element/attr -->
				<div class="left_pane_attr" style="float:left; width: 50%;">
					Diabetes Attribute 3
				</div>
				<div style="float:right; width: 50%" class="w3-light-grey w3-round-xlarge w3-small">
					<div id="diab_attr_3" class="w3-container w3-center w3-round-xlarge"></div>
				</div>
			</div>
		</div>

		<div style="padding-bottom: 35px;">
			<div style="padding-bottom: 30px;" class="left_pane_theme">
				Falls
			</div>
			<div style="padding-bottom: 30px;">  <!-- This is one element/attr -->
				<div class="left_pane_attr" style="float:left; width: 50%;">
					Falls Attribute 1
				</div>
				<div style="float:right; width: 50%" class="w3-light-grey w3-round-xlarge w3-small">
					<div id="falls_attr_1" class="w3-container w3-center w3-round-xlarge"></div>
				</div>
			</div>

			<div style="padding-bottom: 30px;">  <!-- This is one element/attr -->
				<div class="left_pane_attr" style="float:left; width: 50%;">
					Falls Attribute 2
				</div>
				<div style="float:right; width: 50%" class="w3-light-grey w3-round-xlarge w3-small">
					<div id="falls_attr_2" class="w3-container w3-center w3-round-xlarge"></div>
				</div>
			</div>

			<div style="padding-bottom: 30px;">  <!-- This is one element/attr -->
				<div class="left_pane_attr" style="float:left; width: 50%;">
					Falls Attribute 3
				</div>
				<div style="float:right; width: 50%" class="w3-light-grey w3-round-xlarge w3-small">
					<div id="falls_attr_3" class="w3-container w3-center w3-round-xlarge"></div>
				</div>
			</div>
		</div>

		<div style="padding-bottom: 35px;">
			<div style="padding-bottom: 30px;" class="left_pane_theme">
				Admission & Referrals
			</div>
			<div style="padding-bottom: 30px;">  <!-- This is one element/attr -->
				<div class="left_pane_attr" style="float:left; width: 50%;">
					AE Attribute 1
				</div>
				<div style="float:right; width: 50%" class="w3-light-grey w3-round-xlarge w3-small">
					<div id="ae_attr_1" class="w3-container w3-center w3-round-xlarge"></div>
				</div>
			</div>

			<div style="padding-bottom: 30px;">  <!-- This is one element/attr -->
				<div class="left_pane_attr" style="float:left; width: 50%;">
					AE Attribute 2
				</div>
				<div style="float:right; width: 50%" class="w3-light-grey w3-round-xlarge w3-small">
					<div id="ae_attr_2" class="w3-container w3-center w3-round-xlarge"></div>
				</div>
			</div>

			<div style="padding-bottom: 30px;">  <!-- This is one element/attr -->
				<div class="left_pane_attr" style="float:left; width: 50%;">
					AE Attribute 3
				</div>
				<div style="float:right; width: 50%" class="w3-light-grey w3-round-xlarge w3-small">
					<div id="ae_attr_3" class="w3-container w3-center w3-round-xlarge"></div>
				</div>
			</div>
		</div>
		<!-- <h1>Outcome</h1> -->
		<div>
			<ul id="outcomes_list">
				<li>
					<b>Clinical Outcomes</b>
					<ul id="clinical_outcomes" class="outcomes w3-ul w3-hoverable">
					</ul>
				</li>
				<li>
					<b>Provider Outcomes</b>
					<ul id="provider_outcomes" class="outcomes w3-ul w3-hoverable">
					</ul>
				</li>
			</ul>
			<!-- Following code from Isacc might be useful -->
			<div>
				<input type="button" id="run_RF_button" value="Find Predictors" style="background-color: grey"> </input>
				<label for="number_of_predictors">Number of Predictors:</label>
				<input type="number" id="number_of_predictors_picker" name="number_of_predictors" min="1" max="100" value="5"></input>
			</div>
		</div>
	</div>
	
	<div class="classifier_pane">
		<h1>VisualRef</h1>
		<div class="tab w3-bar w3-theme w3-left-align w3-large ">
			<button style="border: black; border-width: thin; border-style: solid;" class="tab_link w3-bar-item w3-hover-white  w3-green" id="details_tab_button">Details</button>
			<button style="border: black; border-width: thin; border-style: solid;" class="tab_link w3-bar-item w3-hover-white w3-green" id="vis_tab_button">Visualisation</button>
			<button style="border: black; border-width: thin; border-style: solid;" class="tab_link w3-bar-item w3-hover-white  w3-green" id="details_tab_button">Explore Trends</button>
			<button style="border: black; border-width: thin; border-style: solid;" class="tab_link w3-bar-item w3-hover-white w3-green" id="vis_tab_button">Predict</button>
			<button style="border: black; border-width: thin; border-style: solid;" class="tab_link w3-bar-item w3-hover-white  w3-green" id="details_tab_button">Design</button>
			<button style="border: black; border-width: thin; border-style: solid;" class="tab_link w3-bar-item w3-hover-white w3-green" id="vis_tab_button">Report and Share</button>
			<button style="border: black; border-width: thin; border-style: solid;" class="tab_link w3-bar-item   w3-green" id="notes_tab_button">Notes</button>
			<button style="border: black; border-width: thin; border-style: solid;" class="tab_link w3-bar-item   w3-green" id="map_tab_button">Class Mappings</button>
		</div>

		<div class="right_top">
			
		</div>
		<div class="right_bottom">
			
		</div>

		<div id="details_tab" class="tab_content">
			<div>

			</div>
		</div>

		<div id="vis_tab" class="grid tab_content">
	
		</div>

		<div id="notes_tab" class="tab_content">
		<h2>NOTES</h2>
		</div>

		<div id="map_tab" class="tab_content">
		<h2>MAPPINGS</h2>
		</div>
	</div>
</div>

<script src="../static/vendor/d3.min.js" type="text/javascript"></script>
<script src="../static/vendor/d3-queue.min.js" type="text/javascript"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>
<script src="../static/vendor/topojson.min.js" type="text/javascript"></script>
<script src="../static/vendor/muuri.min.js" type="text/javascript"></script>
<script src="../static/vendor/jquery.min.js"></script>
<script src="../static/js/main.js" type="text/javascript"></script>
<script src="../static/js/left_pane.js" type="text/javascript"></script>

</body>
</html>
